Node-RED_interface.json
[
    {
        "id": "7a8f315b6bed5f0f",
        "type": "mqtt out",
        "z": "770e88b6.2662e",
        "name": "openWB/set/lp/1/%Soc",
        "topic": "openWB/set/lp/1/%Soc",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f300b438.565808",
        "x": 1090,
        "y": 80,
        "wires": []
    },
    {
        "id": "8f790b36afc8587a",
        "type": "mqtt in",
        "z": "770e88b6.2662e",
        "name": "polestar2/getBatteryData/batteryChargeLevelPercentage",
        "topic": "polestar2/getBatteryData/batteryChargeLevelPercentage",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3558342.6fcda8",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 250,
        "y": 80,
        "wires": [
            [
                "7df5454d6f962d57",
                "55a289ac59caf896"
            ]
        ]
    },
    {
        "id": "7df5454d6f962d57",
        "type": "debug",
        "z": "770e88b6.2662e",
        "name": "batteryChargeLevelPercentage",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "0e841af36df8bb00",
        "type": "debug",
        "z": "770e88b6.2662e",
        "name": "SOC",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "55a289ac59caf896",
        "type": "function",
        "z": "770e88b6.2662e",
        "name": "INT gerundet",
        "func": "// Prüfen, ob die Payload eine Zahl ist\nif (typeof msg.payload === \"number\") {\n    // Mathematisch runden und zu Integer konvertieren\n    msg.payload = Math.round(msg.payload);\n} else {\n    node.warn(\"Payload ist keine Zahl\");\n}\n\n// Weitergabe der modifizierten Nachricht\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 80,
        "wires": [
            [
                "7a8f315b6bed5f0f",
                "0e841af36df8bb00"
            ]
        ]
    },
    {
        "id": "f300b438.565808",
        "type": "mqtt-broker",
        "name": "openWB",
        "broker": "openwb.fritz.box",
        "port": "1883",
        "clientid": "node-red",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "c3558342.6fcda8",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto.fritz.box",
        "port": "1883",
        "clientid": "Node-RED",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    }
]
