Node-RED_interface.json
[
    {
        "id": "7a8f315b6bed5f0f",
        "type": "mqtt out",
        "z": "770e88b6.2662e",
        "name": "openWB/set/lp/1/%Soc",
        "topic": "openWB/set/lp/1/%Soc",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f300b438.565808",
        "x": 1090,
        "y": 80,
        "wires": []
    },
    {
        "id": "8f790b36afc8587a",
        "type": "mqtt in",
        "z": "770e88b6.2662e",
        "name": "polestar2/carTelematics/battery/batteryChargeLevelPercentage",
        "topic": "polestar2/carTelematics/battery/batteryChargeLevelPercentage",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3558342.6fcda8",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "7df5454d6f962d57",
                "55a289ac59caf896"
            ]
        ]
    },
    {
        "id": "7df5454d6f962d57",
        "type": "debug",
        "z": "770e88b6.2662e",
        "name": "batteryChargeLevelPercentage",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "0e841af36df8bb00",
        "type": "debug",
        "z": "770e88b6.2662e",
        "name": "SOC",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "55a289ac59caf896",
        "type": "function",
        "z": "770e88b6.2662e",
        "name": "INT gerundet",
        "func": "// Prüfen, ob die Payload eine Zahl ist\nif (typeof msg.payload === \"number\") {\n    // Mathematisch runden und zu Integer konvertieren\n    msg.payload = Math.round(msg.payload);\n} else {\n    node.warn(\"Payload ist keine Zahl\");\n}\n\n// Weitergabe der modifizierten Nachricht\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 80,
        "wires": [
            [
                "7a8f315b6bed5f0f",
                "0e841af36df8bb00",
                "3cab20076923534d"
            ]
        ]
    },
    {
        "id": "3cab20076923534d",
        "type": "ui_gauge",
        "z": "770e88b6.2662e",
        "name": "HV-Batterie",
        "group": "22d0159797a512f8",
        "order": 1,
        "width": "4",
        "height": "3",
        "gtype": "wave",
        "title": "HV-Batterie",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#77bb40"
        ],
        "seg1": "15",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 200,
        "wires": []
    },
    {
        "id": "faf5a6396aa32c91",
        "type": "comment",
        "z": "770e88b6.2662e",
        "name": "openWB LP1 Endpunkte",
        "info": "Per MQTT zu lesen:\nopenWB/lp/3/AConfigured Stromvorgabe in A\nPer MQTT zu schreiben:\nopenWB/set/lp/3/plugStat Status, ob ein Fahrzeug angesteckt ist, nur 0 (nein) oder 1 (ja)\nopenWB/set/lp/3/chargeStat Status, ob gerade geladen wird, nur 0 (nein) oder 1 (ja)\n\nPer MQTT zu schreiben:\nopenWB/set/lp/3/W Ladeleistung in Watt, int, positiv\nopenWB/set/lp/3/kWhCounter Zählerstand in kWh, float, Punkt als Trenner, nur positiv\nOptional zusätzlich:\nopenWB/set/lp/3/VPhase1 Spannung Phase 1, float, Punkt als Trenner, nur positiv\nopenWB/set/lp/3/VPhase2 Spannung Phase 2, float, Punkt als Trenner, nur positiv\nopenWB/set/lp/3/VPhase3 Spannung Phase 3, float, Punkt als Trenner, nur positiv\nopenWB/set/lp/3/APhase1 Strom Phase 1, float, Punkt als Trenner, nur positiv\nopenWB/set/lp/3/APhase2 Strom Phase 2, float, Punkt als Trenner, nur positiv\nopenWB/set/lp/3/APhase3 Strom Phase 3, float, Punkt als Trenner, nur positiv",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "f300b438.565808",
        "type": "mqtt-broker",
        "name": "openWB",
        "broker": "gr-openwb.fritz.box",
        "port": "1883",
        "clientid": "node-red",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "c3558342.6fcda8",
        "type": "mqtt-broker",
        "name": "RaspFHEM MQTT",
        "broker": "raspfhem",
        "port": "1883",
        "clientid": "Node-RED",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "22d0159797a512f8",
        "type": "ui_group",
        "name": "Polestar 2",
        "tab": "2eeaa49e.47ac9c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2eeaa49e.47ac9c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
